{% extends "authentication_system.html" %}

{% block title %}
    <title>Full Discussion</title>
    <head>
        <style>
            span{
                color:red;
            }
            .discussion, .comment{
                border: 2px solid black;
                padding: 5px;
                border-top: 2px;
            }
            
        </style>
    </head>
{% endblock title %}

{% block content %}
    <div class="discussion">
        {{ discussion.subject }}
        <hr>
        {{ discussion.details }}
        <span>{{author}}</span>
    </div>

    {% for comment in  comments%}
        <div class="comment">
            {{ comment.comment }}
            <span>{{ comment.commenter.username }}</span>
        </div>
    {% endfor %}
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ comment_form.label_tag }} {{ comment_form }} {{ comment_form.errors }}
        <input type="submit" value="comment">
    </form>
    <br>
    <a href="{% url "discussion" quiz_id%}">Discussions</a>
{% endblock content %}