{% extends "authentication_system.html" %}

{% block title %}
    <title>Add Quiz Attempter</title>
{% endblock title %}

{% block content %}
    <form action="" method='POST' novalidate>
        {% csrf_token %}
        {{ quiz_attempter_form }}
        <input type="submit" value="Add">
    </form>
    <br> <br>
    {% for quiz_attempter in quiz_attempters %}
        {{ quiz_attempter.username }} || {{ quiz_attempter.email }}
    {% endfor %}
    <br> <br>
    <a href="{% url "draftquizzes" %}">Draft Quizzes</a>
{% endblock content %}